* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Lucida Sans', 'Lato', sans-serif;
  list-style: none;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 20px;
  margin: 4px 0;
}

h2 {
  font-size: 15px;
  padding: 5px 0 5px 0;
  margin-top: 5px;
  border-top: 1px solid;
}

hr {
  margin: 10px 0;
}

p, span {
  font-size: 13px;
  vertical-align: middle;
}

.content {
  padding: 10px;
  background: #FFF;
  border-radius: 5px;
  overflow-y: scroll;
}

input[type="range"] {
  width: 100%;
  display: block;
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px;
  margin-top: 10px;
  height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 20px;
  background: #D42;
}

#timeline input[type="range"]::-webkit-slider-thumb:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  margin-left: 5px;
  margin-top: 20px;
  height: 100px;
  background: #D42;
}

textarea {
  display: block;
  resize: none;
  width: 200px;
  height: 100px;
  overflow: scroll;
  white-space: nowrap;
}

input[type="submit"] {
  border: none;
  border-radius: 3px;
  line-height: 24px;
  padding: 0 4px;
  font-size: 14px;
  margin: 4px 0;
  color: #FFF;
  cursor: pointer;
  background: #777;
  font-family: Menlo, 'Courier New', Courier, monospace, sans-serif;
}

input[type="submit"]:active {
  background: #555;
}

select {
  border: 3px solid #777;
  font-size: 14px;
  margin: 4px 0;
  color: #FFF;
  background: #777;
  font-family: Menlo, 'Courier New', Courier, monospace, sans-serif;
}

#btns {
  position: fixed;
  right: 3px;
  bottom: 3px;
}

#save_btn {
  background: #2D861D;
}

#view_btn {
  background: #1B5BAC;
}

input[type="number"], input[type="text"] {
  border: 1px solid #888;
  border-radius: 3px;
  width: 100px;
  height: 20px;
  font-size: 12px;
  padding: 3px;
  font-family: Menlo, 'Courier New', Courier, monospace, sans-serif;
  margin: 4px;
}

input[type="number"]:focus, input[type="text"]:focus {
  outline: #555 auto 5px;
}

pre {
  background: #DDD;
  padding: 5px;
}

code, textarea {
  font-family: Menlo, 'Courier New', Courier, monospace, sans-serif;
  font-size: 13px;
  color: #333;
}

#setting_bar {
  top: 32px;
  left: 5px;
  display: inline-block;
  width: 240px;
}

#git_view {
  display: inline-block;
  height: 100%;
  width: 900px;
}

#image, #save_canvas {
  display: none;
}

#canvas {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.36);
  -webkit-transform-origin: center top;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

#timeline_canvas {
  width: 100%;
}

.ui_window {
  border: 1px solid #6B6B6B;
  background: #6B6B6B;
  -webkit-transition: margin .3s ease;
  -moz-transition: margin .3s ease;
  transition: margin .3s ease;
  overflow-y: hidden;
}

.ui_window .content {
  opacity: 1;
  -webkit-transition: opacity .3s ease, height .3s ease;
  -moz-transition: opacity .3s ease, height .3s ease;
  transition: opacity .3s ease, height .3s ease;
}

.ui_window .title h1 {
  background: #6B6B6B;
  color: #FFF;
  margin: 0;
  text-align: center;
  font-size: 13px;
  padding: 4px 0;
  height: 30px;
  margin-bottom: -12px;
  font-weight: 100;
}

.ui_window .title span {
  float: right;
  color: #FFF;
  margin-top: -23px;
  margin-right: 5px;
  cursor: pointer;
}

#canvas_control {
  width: 240px;
  right: 5px;
  top: 32px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

#timeline {
  width: 900px;
}

#storyboard {
  z-index: -1;
}

#timeline, #canvas_control, #setting_bar {
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#timeline .title:active, #canvas_control .title:active, #setting_bar .title:active {
  cursor: all-scroll;
}

.bounceClass {
  -webkit-transition: left .15s ease, top .15s ease;
  -moz-transition: left .15s ease, top .15s ease;
  transition: left .15s ease, top .15s ease;
}

#animationControl {
  position: absolute;
  width: 100%;
}

.content_inner {
  position: relative;
}

.keypoint {
  position: absolute;
  margin-left: -45px;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 10px;
  -webkit-appearance: none;
  margin-top: 8px;
}

.keypoint:after {
  content: "+";
  display: block;
  text-align: center;
  width: 20px;
  line-height: 18px;
  font-size: 20px;
  color: #999;
}

.keypoint:checked:after {
  color: #fff;
}

.keypoint:not(:checked):after {
  color: #999;
}

.keypoint:checked {
  background-color: #999;
}

#storyboard {
  height: 100%;
  margin-left: -1px;
}

#storyboard .content {
  height: 100%;
}

.ui_window.window_folded_true {
  margin-left: -220px;
  background: #6B6B6B;
}

.ui_window.window_folded_true .content {
  opacity: 0;
}

.ui_window.window_folded_true .window_btn {
  opacity: 1;
}

.item {
  -webkit-transition: height .3s ease;
  -moz-transition: height .3s ease;
  transition: height .3s ease;
  overflow: hidden;
}

.item p:before {
  content: "•";
  margin: 0 5px;
}

.item p {
  cursor: pointer;
}

.item_folded_true {
  height: 1em;
}

.item_folded_false {
  height: 260px;
}

.unit-list {
  background: #EEE;
  padding: 5px;
}

.unit-list li {
  position: relative;
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  text-indent: 5px;
  box-shadow: 0 0 0 1px #888;
  margin-top: 1px;
}

.unit-list li.unit-selected-true {
  background-color: #CCC;

}

.delete-unit {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 22px;
  width: 22px;
  font-size: 18px;
  line-height: 22px;
}

.delete-unit:hover {
  background-color: #888;
  color: #fff;
  cursor: pointer;
}

.transition {
  -webkit-transition: height .3s ease;
  -moz-transition: height .3s ease;
  transition: height .3s ease;
  overflow: hidden;
}

.transition-list {
  display: block;
  background: #EEE;
  margin-top: 5px;
  padding: 5px;
}

.block {
  display: block;
}

#pop {
  position: absolute;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#loading_bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 600px;
  height: 400px;
  margin: auto;
  background: #FFF;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

#loading_percent {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  -webkit-transition: width .3s ease;
  -moz-transition: width .3s ease;
  transition: width .3s ease;
}

#pop span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  line-height: 400px;
  color: #000;
  margin: auto;
}

#pop #pop_close {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  display: block;
  padding: 6px;
  text-align: center;
  cursor: pointer;
  z-index: 10000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}

#pop #pop_close:hover {
  background-color: #333;
  color: #fff;
}

.abs_center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}