<!DOCTYPE html>
<html ng-app="animator">
<head>
    <title>Animator</title>
    <script src="js/angular.min.js"></script>
    <script src="js/animator.js"></script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <link rel="stylesheet" href="css/animator.css"/>
</head>
<body ng-controller="main">
<div id="setting_bar" class="ui_window window_folded_{{folded}}">
    <div class="title"><h1>Animator</h1><span class="window_btn" ng-click="btn_click()">{{window_btn}}</span></div>
    <div class="content">
        <div class="content_inner">
            <h2>Canvas</h2>
            <ul>
                <li><span>Width:</span><input class="setting_input" id="width_input" type="number" placeholder="{{defaultWidth}}" ng-model="width" ng-change="redraw()"><span>px</span></li>
                <li><span>Height:</span><input class="setting_input" id="height_input" type="number" placeholder="{{defaultHeight}}" ng-model="height" ng-change="redraw()"><span>px</span></li>
                <li><span>BG Color:</span><input class="setting_input" type="text" ng-model="color" ng-change="redraw()" placeholder="{{defaultColor}}"/></li>
                <li><span>Frames:</span><input class="setting_input" type="number" ng-model="frames" ng-change="redraw()" placeholder="{{defaultFrames}}"/></li>
                <li><span>Idle:</span><input class="setting_input" type="number" ng-model="idle" ng-change="redraw()" placeholder="{{defaultIdle}}"/><span>ms</span></li>
            </ul>
            <h2>Object</h2>
            <select ng-model="newObjectName">
                <option value="circle">circle</option>
                <option value="rectangle">rectangle</option>
                <option value="text">//text</option>
                <option value="image">//image</option>
            </select><span> </span><input type="submit" value="add" ng-click="addObject()"/>
            <ul style="display: {{selectedObject ? 'inherit' : 'none'}}">
                <li><span>Fill Color:</span><input class="setting_input" type="text" ng-model="nowObject_fillColor" ng-change="setObject()"/><input class="keypoint" type="checkbox" ng-model="nowObject_fillColor_key" ng-click="toggleKeyFrame('fillColor')"/></li>
                <li><span>Opacity:</span><input class="setting_input" type="text" ng-model="nowObject_opacity" ng-change="setObject()"/><input class="keypoint" type="checkbox" ng-model="nowObject_opacity_key" ng-click="toggleKeyFrame('opacity')"/></li>
                <li><span>X:</span><input class="setting_input" type="number" ng-model="nowObject_x" ng-change="setObject()"/><input class="keypoint" type="checkbox" ng-model="nowObject_x_key" ng-click="toggleKeyFrame('x')"/><span>px</span></li>
                <li><span>Y:</span><input class="setting_input" type="number" ng-model="nowObject_y" ng-change="setObject()"/><input class="keypoint" type="checkbox" ng-model="nowObject_y_key" ng-click="toggleKeyFrame('y')"/><span>px</span></li>
                <li style="display: {{selectedObject.type == 'circle' ? 'inherit' : 'none'}}"><span>R:</span><input class="setting_input" type="number" ng-model="nowObject_r" ng-change="setObject()"/><input class="keypoint" type="checkbox" ng-model="nowObject_r_key" ng-click="toggleKeyFrame('r')"/><span>px</span></li>
                <li style="display: {{selectedObject.type != 'circle' ? 'inherit' : 'none'}}"><span>Width:</span><input class="setting_input" type="number" ng-model="nowObject_width" ng-change="setObject()"/><input class="keypoint" type="checkbox" ng-model="nowObject_width_key" ng-click="toggleKeyFrame('width')"/><span>px</span></li>
                <li style="display: {{selectedObject.type != 'circle' ? 'inherit' : 'none'}}"><span>Height:</span><input class="setting_input" type="number" ng-model="nowObject_height" ng-change="setObject()"/><input class="keypoint" type="checkbox" ng-model="nowObject_height_key" ng-click="toggleKeyFrame('height')"/><span>px</span></li>
                <li><span>Rotate:</span><input class="setting_input" type="number" ng-model="nowObject_rotate" ng-change="setObject()"/><input class="keypoint" type="checkbox" ng-model="nowObject_rotate_key" ng-click="toggleKeyFrame('rotate')"/><span>deg</span></li>
            </ul>
            <div style="display: none">
                <h2>Transition</h2>
                <span style="display: {{selectedObject ? 'none' : 'inherit'}}">Please select an object!</span>
                <input style="display: {{selectedObject ? 'inherit' : 'none'}}" type="submit" value="add" ng-click="addTransition()"/>
                <ul style="display: {{transitions ? 'inherit' : 'none'}}">
                    <li ng-repeat="transition in transitions">
                        property: <input type="text" ng-model="transition.transitionProperty" ng-change="setTransition()"/>, from: <input type="text" ng-model="transition.startValue" ng-change="setTransition()"/>, to: <input type="text" ng-model="transition.endValue" ng-change="setTransition()"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><div id="right_panel">
    <div id="storyboard" class="ui_window">
        <div class="title"><h1>Storyboard</h1></div>
        <div class="content" style="background: #E1E1E1;">
            <div class="content_inner" style="text-align: center">
                <canvas id="canvas" ng-mousedown="canvasMouseDown($event)" ng-mousemove="canvasDrag($event)"></canvas>
            </div>
        </div>
    </div>
    <div id="timeline" class="ui_window window_folded_{{folded}}" ng-controller="timeline">
        <div class="title"><h1>Timeline</h1><span class="window_btn" ng-click="btn_click()">{{window_btn}}</span></div>
        <div class="content">
            <div class="content_inner">
                <div id="animationControl">
                    <input type="submit" name="play" value="play/pause"/>
                    <span id="frame_number"></span>
                    <input type="range" name="frame" value="0" min="0" max="9999" step="1"/>
                </div>
                <canvas id="timeline_canvas"></canvas>
            </div>
        </div>
        <p></p>
    </div>
</div><div id="canvas_control" class="ui_window">
  <div class="title"><h1>Canvas</h1></div>
  <div class="content">
    <div class="content_inner">
      <h2>Scale</h2>
      <input type="range" name="scale" value="100" min="0" max="200" step="1"/>
      <span id="scale_rate">100%</span>
    </div>
  </div>
</div>
</body>
</html>