* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", "SongTi SC", serif;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-family: 'Lucida Sans', 'Lato', sans-serif;
    font-size: 20px;
    margin: 4px 0;
}

h2 {
    font-family: 'Lucida Sans', 'Lato', sans-serif;
    font-size: 15px;
    padding: 5px 0 5px 0;
    margin-top: 5px;
    border-top: 1px solid;
}

p, span {
    font-size: 13px;
    vertical-align: middle;
}

.content {
    padding: 10px;
}

textarea {
    display: block;
    resize: none;
    width: 200px;
    border: none;
    height: 100px;
    overflow: scroll;
    white-space: nowrap;
}

input[type="submit"] {
    border: none;
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    margin: 4px;
    color: #FFF;
    font-family: Menlo, 'Courier New', Courier, monospace, sans-serif;
}

#btns {
    position: fixed;
    right: 3px;
    bottom: 3px;
}

#save_btn {
    background: #2D861D;
}

#view_btn {
    background: #1B5BAC;
}

input[type="number"] {
    border: 1px solid #888;
    border-radius: 3px;
    width: 50px;
    height: 20px;
    font-size: 12px;
    padding: 3px;
    text-align: right;
    font-family: Menlo, 'Courier New', Courier, monospace, sans-serif;
    margin: 4px;
}

pre {
    background: #DDD;
    padding: 5px;
}

code, textarea {
    font-family: Menlo, 'Courier New', Courier, monospace, sans-serif;
    font-size: 13px;
    color: #333;
}

#setting_bar {
    display: inline-block;
    width: 240px;
    height: 100%;
    border-right: 1px solid;
    overflow-y: scroll;
}

#git_view {
    display: inline-block;
    height: 100%;
    overflow-y: scroll;
}

#image, #save_canvas {
    display: none;
}